body {
    background-image: url("../image/computer-blue-opacity-background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: white;   
}

a {
    text-decoration: none;
    color: rgb(3, 3, 97)
}

a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.site-subtitle,
.site-title {
    text-align: center;
    color: whitesmoke;
}

.site-subtitle {
    font-style: italic;
}